<div id="sideMenu" th:fragment="sideMenu">

    <link rel="stylesheet" href="/css/navbar.css">
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    <a href="/" class="nav__logo">Fleet Status</a>
                </div>
                <div class="nav__list">
                    <a href="/" class="nav__link active">
                        <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Fleet Overview</span>
                    </a>
                    <a href="/AircraftStatus" class="nav__link hidden" id="aircraftStatusPage">
                        <ion-icon name="airplane-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name" id="aircraftStatusText">Aircraft Status</span>
                    </a>
                    <a href="/History" class="nav__link">
                        <ion-icon name="reader-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">History</span>
                    </a>
                </div>
            </div>

            <a href="/login" class="nav__link" id="loginStatus">
                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                <span class="nav__name" id="loginStatusText">Sign In</span>
            </a>
        </nav>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous" type="text/javascript"></script>
    <script src="/js/util/util.js"></script>
    <script src="/js/navbar/SideMenu.js" rel="script"></script>
    <script src="/js/Login/LoginStatus.js" rel="script"></script>

    <!-- Navbar icons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</div>