/* Add Tail Modal Styles */
.aircraftModal h5 {
    color: black;
}

.aircraftModal label {
    color: black;
    padding: 5px;
}

.formTitle {
    margin-top: 50px;
    color: aliceblue;
    padding-left: 15px;
}

.custom-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
}

.custom-table th,
.custom-table td {
    padding: 12px;
}