/* Add Tail Modal Styles */
.aircraftModal label {
    padding: 5px;
}

.formTitle {
    margin-top: 50px;
    color: aliceblue;
    padding-left: 15px;
}

.dark-modal-content {
    background-color: var(--bg-color);
}

.dark-modal-content select {
    background-color: var(--sub-color);
    border: 0;
    color: white;
}

.dark-modal-content input[type="text"],
.dark-modal-content input[type="datetime-local"] {
    background-color: var(--sub-color);
    border: 0;
    color: white;
}

.modal-close-white {
    filter: invert(1); /* Invert the color to make it white */
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Invert the color to make it white */
}

input[type="datetime-local"]::-ms-clear {
    display: none; /* Hide the clear button in Internet Explorer */
}