@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Variables */
:root {
	--nav-width: 92px;

	--first-color: #d40511;
	--bg-color: #363434;
	--sub-color: #B6CEFC;
	--white-color: #FFF;

	--body-font: 'Poppins', sans-serif;
	--normal-font-size: 1rem;
	--small-font-size: .875rem;

	--z-fixed: 100;
}

/* Override Bootstrap defaults */
.bg-dark {
	background-color: #363434 !important;
}

.btn-primary {
	background-color: var(--first-color) !important;
}

/* Custom CSS */
.AOSText {
	padding-top: 100px;
	padding-left: 15px;
}

body {
	background: rgb(31, 31, 31);
	color: #fff;
	font-family: 'Poppins', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 140%;
	margin: 0;
	min-height: 100vh;
	padding: 0;
	width: 100%;
}

#addAircraftForm {
	background-color: beige;
	color: black;
	padding: 20px;
	margin-right: auto;
}